                 <div>

                     <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 home" style="text-align: center;" >
                    <div class="title col-sm-12">
                  <p >WELCOME To My WEBSITE <i class="far fa-smile-beam fa-spin"></i> </p>
                  </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            </div>
            
            
            <div class="row">
                <div class="col-lg-6 home-parag">
                    <p>hello , i hope that you are doing well......
                    iam mr.moussaoui boubaker and iam a teacher at university 
                        of elbachir alibrahime , this is a small web app that represent 
                        my carrirre and my work and also some courses of me ,now 
                        i leave you  ...enjoy  she sent an unedited collection of recipes and household advice to John Murray,
                        of whose family—owners of the John Murray publishing house—she was a friend.
                         Murray published the work, A New System of Domestic Cookery (frontispiece shown),<i class="fas fa-smile"></i>  
                         remedies and how to set up a home brewery, and includes a section entitled "Directions
                         to Servants". She also advises readers on being economical.
                        </p>
                </div>
                
                <div class="col-lg-4 home-img">
                    <img class="rounded shadow-lg"width="500px" height="300px" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/p960x960/69413333_230823007891422_8697798666959716352_o.jpg?_nc_cat=104&_nc_oc=AQmtBKtHgmpr6dPVehgTiHZ7B0Qgu9lX7iQ7GvQrTHZkG8VOgdUPnEMbV_tgeFGDp-Q&_nc_ht=scontent-mrs2-1.xx&oh=f8194489575cc4fd2cfb762967896c70&oe=5E83D54A" alt="">
                </div>    
            </div>    
<div class="row">
    <div class="col-lg-12 home-parag">
        <p style="color: #9FEAF9;">Maria Rundell (1745–1828) was an English writer. In 1805, when she was over 60,
             she sent an unedited collection of recipes and household advice to John Murray,
              of whose family—owners of the John Murray publishing house—she was a friend.
               Murray published the work, A New System of Domestic Cookery (frontispiece shown),
                in November 1805. It was a huge success and several editions followed; the book sold
                 around half a million copies in Rundell's lifetime. It was aimed at middle class 
                 housewives. In addition to dealing with food preparation, it offers advice on medical
                  remedies and how to set up a home brewery, and includes a section entitled "Directions
                   to Servants". She also advises readers on being economical with their food and avoiding 
                   waste. Rundell wrote a second book, Letters Addressed to Two Absent Daughters (1814),
                    with advice concerning death, friendship, how to behave in polite company and the types
            
                    of books a well-mannered young woman should read. (Full article...)</p>
    </div>
  
</div>
            