
<div class="form-group">
    <form action="/test" method="POST">
    <h1 class="align-center">insert student information</h1>
    
 <input style="margin-top:5px" type="text" class="form-control" placeholder="id...">   
<input style="margin-top:5px"type="text" class="form-control" placeholder="First Name...">
<input style="margin-top:5px"type="text" class="form-control" placeholder="Last Name...">

<input style="margin-top:5px"type="text" class="form-control" placeholder="Birth Day...">
<input style="margin-top:5px"type="text" class="form-control" placeholder="Email ...">
<input style="margin-top:5px"type="text" class="form-control" placeholder="Note 1...">
<input style="margin-top:5px"type="text" class="form-control" placeholder="Note 2...">
<input style="margin-top:5px"type="text" class="form-control" placeholder="Note 3...">
<button type="submit" style="margin-left: 300px;" >valider</button>
</form>
</div>
