<div class="col-lg-10 form-group content-param">
<br><br><br>
 <div class="form-group " style="width:500px; margin-top: 100px;">
  <form class="form-inline"action="/admin/modules/edit/{{modulee.id}}?newMethod=PUT"method="post">
    <input name="title" style="margn-left:7px; background-color:#2B2E3B; color:#9FEAF9" type="text"class="form-control col-lg-10" value="{{modulee.title}}">
    <input type="submit" style="margn-left:7px; background-color:#2B2E3B; color:#9FEAF9" class="btn btn-outline-info" value="Edit">
</form>
 

</div>
</div>