
             <div id="navi" class="fixed-left  col-lg-2 nav-param ">
                   <!-- logo -->
                    <img src="/logo.png" class="img-fluid" alt=""> 
                    <div>
                    <!-- <span class="logo col-sm-12"> MB </span> nav content -->
                   
                     
<p><a href="/" class="btn btn-outline-primary col-sm-12" style="border-radius: 5px 5px 5px 5px ;">Home <i class="fas fa-home"></i> </a></p>
<p><a href="" class="btn btn-outline-primary col-sm-12" style="  margin-top: 1px; border-radius: 5px 5px 5px 5px ;">Work <i class="fas fa-briefcase"></i></a></p>
<p><a href="/courses" class="btn btn-outline-primary col-sm-12" style="margin-top: 1px; border-radius: 5px 5px 5px 5px ;">Courses <i class="fas fa-graduation-cap"></i></a></p>
<p><a href="/contact" class="btn btn-outline-primary col-sm-12" style="margin-top: 1px; border-radius: 5px 5px 5px 5px ;">Contact-me <i class="fas fa-address-card"></i></a></p>
<p><a href="/admin/courses" class="btn btn-outline-primary col-sm-12" style=" margin-top: 1px; border-radius: 5px 5px 5px 5px ;">admin <i class="fas fa-user-lock"></i></a></p>
                    </div>

                    <!-- nav icon -->
                    <p style="color: #9FEAF9;">  Find me on social media :</p>
                    <div class="icon">
                   <a href="https://www.facebook.com/youcef.guichi.5" class="btn btn btn-outline-primary" ><i class="fab fa-facebook"></i></a>
                   <a href="https://www.instagram.com/" class="btn btn-outline-primary"><i class="fab fa-instagram"></i></a>
                   <a href="https://twitter.com/" class="btn btn-outline-primary"><i class="fab fa-twitter"></i></a> 
                   <a href="https://www.linkedin.com/in/youcef-guichi-600615172/" class="btn btn-outline-primary"><i class="fab fa-linkedin"></i></a>
                </div>
                <br>
                <div class="form">
                    <a href=""class="btn btn-outline-primary col-sm-5 col-xs-5"><i class="fas fa-sign-in-alt"></i></a>
                    <a href="" class="btn btn-outline-primary col-sm-5 col-xs-5"><i class="fas fa-user-plus"></i>
                    </a>
                    
                </div>
                
                </div>
                