
             <div class="fixed-left col-lg-2 nav-param ">
                   <!-- logo -->
                    <span class="logo"> <a style="color:#9FEAF9 ;" href="/">MB</a> </span>
                    <!-- nav content -->
                    <div>
                        
<p><a href="/admin/courses" class="btn btn-outline-primary col-sm-12" style="   margin-top: 5px; border-radius: 5px 5px 5px 5px ;">courses <i class="fas fa-graduation-cap"></i> </a></p>
<p><a href="/admin/emails" class="btn btn-outline-primary col-sm-12" style="  margin-top: 1px; border-radius: 5px 5px 5px 5px ;">Emails <i class="far fa-envelope"></i></a></p>
<p><a href="/admin/modules" class="btn btn-outline-primary col-sm-12" style="  margin-top: 1px; border-radius: 5px 5px 5px 5px ;"> modules <i class="fas fa-book-open"></i></a></p>
<div class="dropdown">
  <button style="   margin-top: 1px ; border-radius: 5px 5px 5px 5px ;"class="btn btn-outline-primary dropdown-toggle col-sm-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    insert data <i class="far fa-file-pdf"></i>
  </button>
  <div style=" background-color:#23252F ;"class="dropdown-menu col-sm-12" aria-labelledby="dropdownMenuButton">
    <a style="color:#9FEAF9 ; font-wieght:bold;"class="dropdown-item btn btn-outline-primary " href="/admin/modules/InsertCours">insert cours </a>
    <a style="color:#9FEAF9 ; font-wieght:bold;"class="dropdown-item btn btn-outline-primary" href="/admin/modules/InsertTd">insert td </a>
    <a style="color:#9FEAF9 ; font-wieght:bold;"class="dropdown-item btn btn-outline-primary" href="/admin/modules/InsertTp">insert tp</a>
  </div>
</div>
<br><br><br><br>
                    </div>

                    <!-- nav icon -->
                   
                <br>
                <div class="form">
                    <a href=""class="btn btn-outline-primary col-sm-12">Logout <i class="fas fa-sign-out-alt"></i></a>
                   
                    
                    
                </div>
                <br>
                <br><br><br><br>
                </div>